<div class="page positions">
  <shared-page-title [title]="'Positions'"></shared-page-title>

  <div class="mat-elevation-z8 page__content positions__content">
    <div *ngIf="loading" class="loader">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <div
      class="page__table positions__table"
      *ngIf="dataToDisplay.length > 0 && !loading"
    >
      <table mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="orderSymbol">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            aria-label="orderSymbol"
          >
            Order Symbol
          </th>
          <td mat-cell *matCellDef="let row">
            <span aria-label="row.orderSymbol" class="row-element__date"
              >{{ row.orderSymbol }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
          <td mat-cell *matCellDef="let row">
            <span aria-label="row.quantity" class="row-element__type"
              >{{ row.quantity }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="buyValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Buy Value</th>
          <td mat-cell *matCellDef="let row">
            <span aria-label="row.buyValue" class="row-element__type"
              >{{ row.buyValue | number: "1.2-2" }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="sellValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sell Value</th>
          <td mat-cell *matCellDef="let row">
            <span aria-label="row.sellValue" class="row-element__coin"
              >{{ row.sellValue | number: "1.2-2" }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="pnl">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>P&L</th>
          <td mat-cell *matCellDef="let row">
            <span
              aria-label="row.pnl"
              class="row-element__value badge badge-pill direction"
              style="padding: 0.5rem 1rem; font-size: 12px"
              [ngClass]="row.pnl >= 0 ? 'greenAni' : 'redAni'"
              >{{ row.pnl | number: "1.2-2" }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="ltp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>LTP</th>
          <td mat-cell *matCellDef="let row">
            <span aria-label="row.ltp" class="row-element__usd"
              >{{ row.ltp | number: "1.2-2" }}
            </span>
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="columnsToDisplay; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
    <div class="positions__totalPnl" *ngIf="totalPnl && !loading">
      <p>
        Total PNL: <span>{{ totalPnl | number: "1.2-2" }}</span>
      </p>
    </div>
    <div *ngIf="dataToDisplay.length === 0 && !loading" class="noData">
      <h2>No Positions Found!</h2>
    </div>
  </div>
</div>
