.positions {
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__table {
    flex: 1;
  }

  &__totalPnl {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    p {
      margin: 0;
      margin-right: 5rem;

      span {
        margin-left: 1rem;
      }
    }
  }
}

.noData {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greenAni {
  background-color: transparent;
  animation: goGreen 0.5s;
  animation-fill-mode: forwards;
}

.redAni {
  background-color: transparent;
  animation: goRed 0.5s;
  animation-fill-mode: forwards;
}

@keyframes goGreen {
  from {
    background-color: transparent;
  }
  to {
    background-color: green;
  }
}

@keyframes goRed {
  from {
    background-color: transparent;
  }
  to {
    background-color: red;
  }
}
