<div class="strategy__form">
  <form [formGroup]="strategyFormGroup">
    <div class="row mb-1">
      <div class="col-12 col-md-6">
        <shared-input
          [type]="'text'"
          [inputForm]="strategyFormGroup"
          [inputControl]="'name'"
          [label]="'Strategy Name'"
        ></shared-input>
      </div>
      <div class="col-12 col-md-6 row" formGroupName="time">
        <div class="form__field col-6">
          <label style="margin-bottom: 0.5rem">Entry Time</label>
          <mat-form-field appearance="outline">
            <input
              matInput
              type="time"
              autocomplete="off"
              formControlName="entryTime"
            />
          </mat-form-field>
        </div>
        <div class="form__field col-6">
          <label style="margin-bottom: 0.5rem">Exit Time</label>
          <mat-form-field appearance="outline">
            <input
              matInput
              type="time"
              autocomplete="off"
              formControlName="exitTime"
            />
          </mat-form-field>
        </div>
        <ng-container *ngIf="strategyFormGroup.get('time')?.hasError('range')">
          <span style="color: red; font-size: 12px"
            >End Time cannot be before than Start Time.</span
          >
        </ng-container>
      </div>
    </div>

    <div class="row mb-1">
      <div class="form__field col-12 col-sm-6 col-md-3">
        <shared-dropdown
          [placeholder]="'Exchange'"
          [optionsData]="exchangeOptions"
          [dropdownForm]="strategyFormGroup"
          [dropdownControl]="'exchange'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
      <div class="form__field col-12 col-sm-6 col-md-3">
        <shared-dropdown
          [placeholder]="'Data Symbol'"
          [optionsData]="getDataSymbolDropdownOptions()"
          [dropdownForm]="strategyFormGroup"
          [dropdownControl]="'dataSymbol'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
      <div class="form__field col-12 col-sm-6 col-md-3">
        <shared-dropdown
          [placeholder]="'Order Symbol'"
          [optionsData]="getOrderSymbolDropdownOptions()"
          [dropdownForm]="strategyFormGroup"
          [dropdownControl]="'orderSymbol'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
    </div>

    <div class="row mb-1">
      <div class="form__field col-12 col-sm-6 col-md-3">
        <shared-dropdown
          [placeholder]="'Order Type'"
          [optionsData]="orderTypeOptions"
          [dropdownForm]="strategyFormGroup"
          [dropdownControl]="'orderType'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <shared-input
          [type]="'number'"
          [inputForm]="strategyFormGroup"
          [inputControl]="'quantity'"
          [label]="'Quantity'"
        ></shared-input>
      </div>
      <div class="form__field col-12 col-sm-6 col-md-3">
        <shared-dropdown
          [placeholder]="'Direction'"
          [optionsData]="directionOptions"
          [dropdownForm]="strategyFormGroup"
          [dropdownControl]="'direction'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
      <div class="form__field col-12 col-sm-6 col-md-3">
        <shared-dropdown
          [placeholder]="'Timeframe'"
          [optionsData]="timeframeOptions"
          [dropdownForm]="strategyFormGroup"
          [dropdownControl]="'timeFrame'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
    </div>

    <h3 style="margin: 0">Indicators:</h3>
    <div formArrayName="indicators">
      <div
        *ngFor="let line of indicators.controls; let i = index"
        class="indicators__container"
      >
        <div class="row mb-1" [formGroupName]="i">
          <div class="form__field col-12 col-sm-6 col-md-3">
            <label style="margin-bottom: 0.5rem">Indicator {{ i + 1 }}</label>
            <mat-form-field appearance="outline">
              <mat-select formControlName="indicator">
                <mat-option
                  *ngFor="let option of indicatorOptions"
                  [value]="option.id"
                >
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form__field col-12 col-sm-6 col-md-3 col-lg-2">
            <label style="margin-bottom: 0.5rem">Param {{ i + 1 }}.1</label>
            <mat-form-field appearance="outline">
              <input
                matInput
                type="number"
                autocomplete="off"
                formControlName="param1"
              />
            </mat-form-field>
          </div>
          <div class="form__field col-12 col-sm-6 col-md-3 col-lg-2">
            <label
              style="margin-bottom: 0.5rem"
              [ngClass]="{
                disable: indicators.at(i).get('param2').disabled === true
              }"
            >
              Param {{ i + 1 }}.2
            </label>
            <mat-form-field appearance="outline">
              <input
                matInput
                type="number"
                autocomplete="off"
                formControlName="param2"
              />
            </mat-form-field>
          </div>
          <div class="form__field col-12 col-sm-6 col-md-3">
            <label style="margin-bottom: 0.5rem">Operator 1</label>
            <mat-form-field appearance="outline">
              <mat-select formControlName="operator1">
                <mat-option
                  *ngFor="let option of operatorOptions"
                  [value]="option.id"
                >
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form__field col-12 col-sm-6 col-md-3 col-lg-2">
            <label
              style="margin-bottom: 0.5rem"
              [ngClass]="{
                disable: indicators.at(i).get('value1').disabled === true
              }"
              >Value (Buy)</label
            >
            <mat-form-field appearance="outline">
              <input
                matInput
                type="number"
                autocomplete="off"
                formControlName="value1"
              />
            </mat-form-field>
          </div>
          <div
            class="form__field col-12 col-sm-6 col-md-3"
            *ngIf="strategyFormGroup.get('direction')?.value === 'BOTH'"
          >
            <!-- <label style="margin-bottom: 0.5rem">Operator 2</label>
            <mat-form-field appearance="outline">
              <mat-select formControlName="operator2">
                <mat-option
                  *ngFor="let option of operatorOptions"
                  [value]="option.id"
                >
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
            <label style="margin-bottom: 0.5rem" class="disable"
              >Operator 2</label
            >
            <mat-form-field appearance="outline">
              <input
                matInput
                type="text"
                autocomplete="off"
                formControlName="operator2"
              />
            </mat-form-field>
          </div>
          <div class="form__field col-12 col-sm-6 col-md-3 col-lg-2">
            <label
              style="margin-bottom: 0.5rem"
              [ngClass]="{
                disable: indicators.at(i).get('value2').disabled === true
              }"
              >Value (Sell)</label
            >
            <mat-form-field appearance="outline">
              <input
                matInput
                type="number"
                autocomplete="off"
                formControlName="value2"
              />
            </mat-form-field>
          </div>
          <div
            class="col-12 col-sm-6 col-md-4 align-self-center d-flex"
            style="margin-left: auto"
          >
            <button
              mat-button
              color="warn"
              type="button"
              style="margin-left: auto"
              (click)="deleteIndicator.emit(i)"
            >
              Delete Indicator {{ i + 1 }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center" style="margin-bottom: 1rem">
      <div class="col-1" style="margin-right: 2rem">
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="addIndicator.emit()"
        >
          Add Indicator
        </button>
      </div>

      <div class="col-3">
        <span class="indicatorError">{{ indicatorError }}</span>
      </div>
    </div>

    <div class="row mb-1">
      <div class="form__field col-12 col-sm-6 col-md-3">
        <shared-dropdown
          [placeholder]="'Target Unit'"
          [optionsData]="targetUnitOptions"
          [dropdownForm]="strategyFormGroup"
          [dropdownControl]="'targetUnit'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <shared-input
          [type]="'number'"
          [inputForm]="strategyFormGroup"
          [inputControl]="'target'"
          [label]="'Target Value'"
        ></shared-input>
      </div>
      <div class="form__field col-12 col-sm-6 col-md-3">
        <shared-dropdown
          [placeholder]="'Stoploss Unit'"
          [optionsData]="stopLossUnitOptions"
          [dropdownForm]="strategyFormGroup"
          [dropdownControl]="'stopLossUnit'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <shared-input
          [type]="'number'"
          [inputForm]="strategyFormGroup"
          [inputControl]="'stopLoss'"
          [label]="'Stoploss Value'"
        ></shared-input>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-12 col-sm-6 col-md-3">
        <shared-input
          [type]="'number'"
          [inputForm]="strategyFormGroup"
          [inputControl]="'trailSLXPoint'"
          [label]="'Trail SL x point'"
        ></shared-input>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <shared-input
          [type]="'number'"
          [inputForm]="strategyFormGroup"
          [inputControl]="'trailSLYPoint'"
          [label]="'Trail SL y point'"
        ></shared-input>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button
        mat-raised-button
        color="primary"
        type="button"
        style="padding: 0 3rem"
        [disabled]="!strategyFormGroup.valid"
        (click)="addStrategy.emit(strategyFormGroup.getRawValue())"
      >
        {{ isUpdate ? "Update" : "Add" }}
      </button>
    </div>
  </form>
</div>
