.main__container {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-sidenav-container {
    flex-grow: 1;
  }

  mat-sidenav-content {
    // padding: 2rem;
    height: 100%;
  }
}

.toolbar__container {
  // box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  z-index: 100;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;

  .logoutButton {
    width: 100%;

    .mat-button-wrapper > span {
      margin-right: 1rem;
    }
  }
}
