<div class="main__container">
  <mat-sidenav-container>
    <mat-sidenav
      style="width: 240px; background-color: #2a3041; height: 100%"
      opened
      mode="side"
    >
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="toolbar">
        <div class="toolbar__container">
          <div>
            <button
              mat-icon-button
              aria-label="menu icon"
              style="margin-right: 1rem"
              (click)="sidenav.toggle()"
            >
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div>
            <button mat-button [matMenuTriggerFor]="menu" class="toolbar__menu">
              <div class="toolbar__menu-flex">
                <span class="toolbar__menu-avatar">
                  <mat-icon>account_circle</mat-icon>
                  <span>Test</span>
                </span>
                <mat-icon>expand_more</mat-icon>
              </div>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Profile</button>
              <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
          </div>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
