.main__container {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-sidenav-container {
    flex-grow: 1;
  }

  mat-sidenav-content {
    height: 100%;
  }
}

.toolbar {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1002;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    min-width: 130px;

    &-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-avatar {
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 0.5rem;
      }
    }
  }

  .logoutButton {
    width: 100%;

    .mat-button-wrapper > span {
      margin-right: 1rem;
    }
  }
}
