<div class="trade">
  <div class="trade__header">trade</div>
  <div class="trade__container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit mollitia,
    praesentium rem itaque obcaecati iure cumque nulla autem perferendis
    repudiandae esse, dolorum architecto maxime magni. Unde, accusantium quia?
    Eveniet, non voluptates voluptas aliquid dicta commodi pariatur blanditiis
    quidem, soluta dignissimos ea sapiente praesentium, suscipit fugiat
    mollitia. Eum eligendi quis, harum assumenda non inventore quod culpa
    distinctio obcaecati. Quae id vero numquam nisi dicta alias perspiciatis!
    Quasi impedit voluptatem aliquid, aliquam laudantium eos labore maiores
    quam. Accusamus accusantium nobis adipisci placeat beatae rerum obcaecati
    dolores fugiat, quos fuga, reiciendis illum quaerat ullam dolore.
    Perspiciatis illo veniam in architecto voluptates delectus consequatur.
  </div>
</div>
