<div class="page">
  <shared-page-title [title]="'ORDERS'"></shared-page-title>

  <div class="mat-elevation-z8 page__content">
    <div *ngIf="loading$ | async; else loaded" class="loader">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <ng-template #loaded>
      <ng-container *ngIf="dataToDisplay?.length > 0; else noOrders">
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Today's Orders">
            <div class="page__table">
              <app-order-table
                [dataToDisplay]="dataToDisplay"
                [columns]="columnsToDisplay"
              ></app-order-table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </ng-container>

      <ng-template #noOrders>
        <div class="noOrders">
          <h2>No Today's Orders Found.</h2>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
