<div class="auth">
  <div class="auth__container">
    <div class="auth__text">
      <h1>AlgoMaker</h1>
    </div>

    <div class="auth__card">
      <mat-card>
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
          <form class="auth__form" [formGroup]="signupForm">
            <div class="form__field">
              <mat-form-field>
                <input matInput type="text" placeholder="Name" autocomplete="off" formControlName="name">
              </mat-form-field>
            </div>
            <div class="form__field">
              <mat-form-field>
                <input matInput type="email" placeholder="Email" autocomplete="off" formControlName="email">
                <mat-error *ngIf="
                    signupForm.get('email')?.touched ||
                    signupForm.get('email')?.dirty">
                  <ng-container *ngIf="signupForm.get('email')?.hasError('required')">
                    Email is required
                  </ng-container>
                  <ng-container *ngIf="signupForm.get('email')?.hasError('email')">
                    Please enter valid email
                  </ng-container>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form__field">
              <mat-form-field>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="
                    signupForm.get('password')?.touched ||
                    signupForm.get('password')?.dirty">
                  <ng-container *ngIf="signupForm.get('password')?.hasError('required')">
                    Password is required
                  </ng-container>
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">SIGN UP</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>