<div class="stratergy__form">
  <form [formGroup]="stratergyFormGroup">
    <div class="row mb-1">
      <div class="col-6 col-md-6">
        <shared-input
          [type]="'text'"
          [inputForm]="stratergyFormGroup"
          [inputControl]="'name'"
          [label]="'Stratergy Name'"
        ></shared-input>
      </div>
      <div class="form__field col-6 col-md-3">
        <mat-form-field>
          <mat-label>Entry Time</mat-label>
          <input matInput type="time" autocomplete="off" />
        </mat-form-field>
      </div>
      <div class="form__field col-6 col-md-3">
        <mat-form-field>
          <mat-label>Entry Time</mat-label>
          <input matInput type="time" autocomplete="off" />
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-1">
      <div class="form__field col-6 col-md-3">
        <shared-dropdown
          [placeholder]="'Direction'"
          [optionsData]="directionOptions"
          [dropdownForm]="stratergyFormGroup"
          [dropdownControl]="'direction'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
      <div class="form__field col-6 col-md-3">
        <shared-dropdown
          [placeholder]="'Timeframe'"
          [optionsData]="timeframeOptions"
          [dropdownForm]="stratergyFormGroup"
          [dropdownControl]="'timeFrame'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
    </div>

    <div formArrayName="indicators">
      <div *ngFor="let line of indicators.controls; let i = index">
        <div class="row mb-1" [formGroupName]="i">
          <div class="form__field col-6 col-md-3">
            <label style="margin-bottom: 0.5rem">Indicator {{ i + 1 }}</label>
            <mat-form-field appearance="outline">
              <!-- <mat-label>Indicator {{ i + 1 }}</mat-label> -->
              <mat-select formControlName="indicator">
                <mat-option
                  *ngFor="let option of indicatorOptions"
                  [value]="option.id"
                >
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form__field col-6 col-md-3">
            <label style="margin-bottom: 0.5rem">Period {{ i + 1 }}</label>
            <mat-form-field appearance="outline">
              <!-- <mat-label>Period {{ i + 1 }}</mat-label> -->
              <input
                matInput
                type="number"
                autocomplete="off"
                formControlName="period"
              />
            </mat-form-field>
          </div>
          <div class="form__field col-6 col-md-3">
            <label style="margin-bottom: 0.5rem">Multiplier {{ i + 1 }}</label>
            <mat-form-field appearance="outline">
              <!-- <mat-label>Multiplier {{ i + 1 }}</mat-label> -->
              <input
                matInput
                type="number"
                autocomplete="off"
                formControlName="multiplier"
              />
            </mat-form-field>
          </div>
          <div class="form__field col-6 col-md-3">
            <label style="margin-bottom: 0.5rem"
              >Candle Param {{ i + 1 }}</label
            >
            <mat-form-field appearance="outline">
              <!-- <mat-label>Candle Param {{ i + 1 }}</mat-label> -->
              <mat-select formControlName="candleParam">
                <mat-option
                  *ngFor="let option of candleParamOptions"
                  [value]="option.id"
                >
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-1">
      <div class="form__field col-6 col-md-3">
        <shared-dropdown
          [placeholder]="'Condition'"
          [optionsData]="conditionOptions"
          [dropdownForm]="stratergyFormGroup"
          [dropdownControl]="'condition'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
      <div class="form__field col-6 col-md-3">
        <shared-dropdown
          [placeholder]="'Order Type'"
          [optionsData]="orderTypeOptions"
          [dropdownForm]="stratergyFormGroup"
          [dropdownControl]="'orderType'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
      <div class="col-6 col-md-3">
        <shared-input
          [type]="'number'"
          [inputForm]="stratergyFormGroup"
          [inputControl]="'target'"
          [label]="'Target'"
        ></shared-input>
      </div>
      <div class="form__field col-6 col-md-3">
        <shared-dropdown
          [placeholder]="'Target Unit'"
          [optionsData]="targetUnitOptions"
          [dropdownForm]="stratergyFormGroup"
          [dropdownControl]="'targetunit'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-6 col-md-3">
        <shared-input
          [type]="'number'"
          [inputForm]="stratergyFormGroup"
          [inputControl]="'stopLoss'"
          [label]="'Stoploss'"
        ></shared-input>
      </div>
      <div class="form__field col-6 col-md-3">
        <shared-dropdown
          [placeholder]="'Stoploss Unit'"
          [optionsData]="stopLossUnitOptions"
          [dropdownForm]="stratergyFormGroup"
          [dropdownControl]="'stopLossunit'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
      <div class="col-6 col-md-3">
        <shared-input
          [type]="'number'"
          [inputForm]="stratergyFormGroup"
          [inputControl]="'quantity'"
          [label]="'Quantity'"
        ></shared-input>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <!-- <button
        mat-raised-button
        type="button"
        style="padding: 0 3rem; margin-right: 1rem"
        (click)="onClose()"
      >
        Cancel
      </button> -->
      <button
        mat-raised-button
        color="primary"
        type="button"
        style="padding: 0 3rem"
        (click)="addStratergy.emit(stratergyFormGroup.getRawValue())"
      >
        Add
      </button>
    </div>
  </form>
</div>
