<div class="mainSidenav">
  <div class="logo">
    <h2>ALGOMAKER</h2>
  </div>

  <div class="navList">
    <ul>
      <li class="menuTitle">Menu</li>
      <li class="listI">
        <a routerLink="./dashboard" routerLinkActive="activeLink">
          <fa-icon [icon]="faHome" class="icon"></fa-icon>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="menuTitle">Trading</li>
      <li class="listI">
        <a routerLink="./strategy" routerLinkActive="activeLink">
          <fa-icon [icon]="faBullseye" class="icon"></fa-icon>
          <span>Strategy</span>
        </a>
      </li>
      <li class="listI">
        <a routerLink="./position" routerLinkActive="activeLink">
          <fa-icon [icon]="faLocationDot" class="icon"></fa-icon
          ><span> Position </span>
        </a>
      </li>
      <li class="listI">
        <a routerLink="./trade" routerLinkActive="activeLink">
          <fa-icon [icon]="faArrowTrendUp" class="icon"></fa-icon
          ><span> Trade </span>
        </a>
      </li>
      <li class="listI">
        <a
          data-bs-toggle="collapse"
          href="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
          style="display: flex"
        >
          <span>
            <fa-icon [icon]="faBitcoinSign" class="icon"></fa-icon
            ><span> Crypto </span>
          </span>
          <fa-icon [icon]="faAngleDown" style="margin-left: auto"></fa-icon>
        </a>
        <div class="collapse" id="collapseExample">
          <ul>
            <li class="submenuItem">
              <a routerLink="./crypto/wallet" routerLinkActive="activeLink"
                >Wallet</a
              >
            </li>
            <li class="submenuItem">
              <a routerLink="./crypto/lending" routerLinkActive="activeLink"
                >Lending</a
              >
            </li>
            <li class="submenuItem">
              <a routerLink="./crypto/kyc" routerLinkActive="activeLink">KYC</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menuTitle">Account</li>
      <li class="listI">
        <a routerLink="./orders" routerLinkActive="activeLink">
          <fa-icon [icon]="faListCheck" class="icon"></fa-icon
          ><span> Orders </span>
        </a>
      </li>
      <li class="listI">
        <a routerLink="./account" routerLinkActive="activeLink">
          <fa-icon [icon]="faMoneyBillTransfer" class="icon"></fa-icon
          ><span> Trading Account </span>
        </a>
      </li>
      <li class="listI">
        <a routerLink="./invoices" routerLinkActive="activeLink">
          <fa-icon [icon]="faFileInvoice" class="icon"></fa-icon
          ><span> Invoices </span>
        </a>
      </li>
      <li class="listI">
        <a routerLink="./contacts" routerLinkActive="activeLink">
          <fa-icon [icon]="faAddressBook" class="icon"></fa-icon
          ><span> Contacts </span>
        </a>
      </li>
    </ul>
  </div>
</div>
