<div class="mainSidenav">
  <div class="logo">
    <h2>ALGOMAKER</h2>
  </div>

  <div class="navList">
    <ul>
      <li class="listI">
        <a routerLink="./stratergy" routerLinkActive="activeLink">Stratergy</a>
      </li>
      <li class="listI">
        <a routerLink="./account" routerLinkActive="activeLink">Account</a>
      </li>
      <li class="listI">
        <a routerLink="/admin/position" routerLinkActive="activeLink"
          >Position</a
        >
      </li>
      <li class="listI">
        <a routerLink="/admin/trade" routerLinkActive="activeLink">Trade</a>
      </li>
    </ul>
  </div>
</div>
