<div class="stratergy">
  <div class="stratergy__header">
    <h1>Stratergy</h1>
    <button mat-raised-button color="primary" (click)="onCreate()">
      Create Stratergy
    </button>
  </div>

  <div class="mat-elevation-z8">
    <div class="stratergy__table__container">
      <table mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            aria-label="name"
          >
            Name
          </th>
          <td mat-cell *matCellDef="let row">
            <span aria-label="row.name" class="row-element__name"
              >{{ row.name }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="instrument">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Instrument</th>
          <td mat-cell *matCellDef="let row">
            <span aria-label="row.instrument" class="row-element__instrument"
              >{{ row.instrument }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
          <td mat-cell *matCellDef="let row">
            <span aria-label="row.symbol" class="row-element__symbol"
              >{{ row.symbol }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="timeframe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Timeframe</th>
          <td mat-cell *matCellDef="let row">
            <span aria-label="row.timeframe" class="row-element__timeframe"
              >{{ row.timeframe }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
          <td mat-cell *matCellDef="let row">
            <span aria-label="row.active" class="row-element__active"
              >{{ row.active }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Update Stratergy</button>
              <button mat-menu-item>Toggle</button>
              <button mat-menu-item>Delete</button>
            </mat-menu>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="columnsToDisplay; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>
</div>
