::ng-deep .mat-snack-bar-container {
  background-color: white;
  color: black;
}
.snackbar {
  display: flex;
  z-index: 140000;
  justify-content: space-between;
  align-items: center;

  &__content {
    @extend .snackbar;
  }

  &__message {
    margin-left: 2rem;
    margin-bottom: 0;
  }

  &--success {
    color: green;
    width: 24px;
    height: 24px;
  }

  &--error {
    color: red;
    width: 24px;
    height: 24px;
  }
}
