<div [formGroup]="inputForm" class="shared__input">
  <label style="margin-bottom: 0.5rem">{{ label }}</label>
  <mat-form-field appearance="outline">
    <!-- <mat-label>{{ label }}</mat-label> -->
    <input
      matInput
      [type]="type"
      autocomplete="off"
      [formControlName]="inputControl"
    />
    <mat-error
      *ngIf="
        inputForm.get(inputControl)?.touched ||
        inputForm.get(inputControl)?.dirty
      "
    >
      <ng-container *ngIf="inputForm.get(inputControl)?.hasError('required')">
        {{ label }} is required
      </ng-container>
      <ng-container *ngIf="inputForm.get(inputControl)?.hasError('min')">
        Minimum value is 0
      </ng-container>
    </mat-error>
  </mat-form-field>
</div>
