.dashboard {
  padding: 2rem;
  min-height: 100vh;
  background-color: #f6f6fa;
}

.profile-img {
  margin-top: -1.5rem;
  height: 4.5rem;
  width: 4.5rem;
}

.stat-icon-cont {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-icon {
  font-size: 1.3rem;
  color: white;
}
