<div class="auth mat-elevation-z8">
  <div class="auth__container">
    <div class="auth__card">
      <mat-card>
        <div class="auth__card-header row align-items-center">
          <div class="col-7">
            <h2>Welcome Back !</h2>
            <p>Sign in to continue to AlgoMaker.</p>
          </div>
          <div class="col-5">
            <img src="assets/images/profile-img.png" alt="" class="img-fluid" />
          </div>
        </div>
        <mat-card-content>
          <form class="" [formGroup]="loginForm">
            <div class="form__field">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  type="email"
                  placeholder="Email"
                  autocomplete="off"
                  formControlName="email"
                />
                <mat-error
                  *ngIf="
                    loginForm.get('email')?.touched ||
                    loginForm.get('email')?.dirty
                  "
                >
                  <ng-container
                    *ngIf="loginForm.get('email')?.hasError('required')"
                  >
                    Email is required
                  </ng-container>
                  <ng-container
                    *ngIf="loginForm.get('email')?.hasError('email')"
                  >
                    Please enter valid email
                  </ng-container>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form__field">
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  placeholder="Password"
                  formControlName="password"
                />
                <button mat-icon-button matSuffix (click)="hide = !hide">
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error
                  *ngIf="
                    loginForm.get('password')?.touched ||
                    loginForm.get('password')?.dirty
                  "
                >
                  <ng-container
                    *ngIf="loginForm.get('password')?.hasError('required')"
                  >
                    Password is required
                  </ng-container>
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            type="button"
            [disabled]="!loginForm.valid"
            style="padding: 0 3rem"
            (click)="login(loginForm.getRawValue())"
          >
            Login
          </button>
        </mat-card-actions>
        <a routerLink="/signup" class="link">Don't have an account? Sign Up</a>
      </mat-card>
    </div>
  </div>
</div>
