.stratergy-add {
  padding: 2rem;
  background-color: #f6f6fa;

  &__container {
    background-color: #fff;
    padding: 1rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    nav ol {
      margin: 0;
    }

    h2 {
      font-weight: bold;
      margin: 0;
    }
  }
}
