<div class="stratergy-add">
  <div class="stratergy-add__header">
    <h2>Add Stratergy</h2>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="admin/stratergy">Stratergy</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Add Stratergy
        </li>
      </ol>
    </nav>
  </div>
  <div class="mat-elevation-z8">
    <div class="stratergy-add__container">
      <app-stratergy-form
        [stratergyFormGroup]="stratergyFormGroup"
        (addStratergy)="onAddStratergy($event)"
        (addIndicator)="onAddIndicator($event)"
      ></app-stratergy-form>
    </div>
  </div>
</div>
