<div class="zerodhaForm">
  <form [formGroup]="zerodhaFormGroup">
    <div class="row mb-1">
      <div class="form__field col-12 col-sm-6 col-md-3">
        <shared-input
          [type]="'text'"
          [inputForm]="zerodhaFormGroup"
          [inputControl]="'userID'"
          [label]="'User ID'"
        ></shared-input>
      </div>
      <div class="form__field col-12 col-sm-6 col-md-4">
        <shared-input
          [type]="'password'"
          [inputForm]="zerodhaFormGroup"
          [inputControl]="'password'"
          [label]="'Password'"
        ></shared-input>
      </div>
    </div>

    <div class="row mb-1">
      <div class="form__field col-12 col-md-3">
        <shared-dropdown
          [placeholder]="'Broker'"
          [optionsData]="brokerOptions"
          [dropdownForm]="zerodhaFormGroup"
          [dropdownControl]="'broker'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>
    </div>

    <div class="row">
      <div class="form__field col-12 col-md-3">
        <shared-dropdown
          [placeholder]="'Auth Type'"
          [optionsData]="authTypeOptions"
          [dropdownForm]="zerodhaFormGroup"
          [dropdownControl]="'auth_type'"
          [isRequired]="false"
        ></shared-dropdown>
      </div>

      <div
        class="form__field col-12 col-md-3"
        *ngIf="zerodhaFormGroup.get('auth_type').value === 'totp'"
      >
        <shared-input
          [type]="'text'"
          [inputForm]="zerodhaFormGroup"
          [inputControl]="'totp_secret'"
          [label]="'T-OTP Secret'"
        ></shared-input>
      </div>

      <div
        class="form__field col-12 col-md-3"
        *ngIf="zerodhaFormGroup.get('auth_type').value === 'pin'"
      >
        <shared-input
          [type]="'number'"
          [inputForm]="zerodhaFormGroup"
          [inputControl]="'pin'"
          [label]="'PIN'"
        ></shared-input>
      </div>
    </div>

    <div>
      <button
        mat-raised-button
        color="primary"
        type="button"
        style="padding: 0 3rem"
        [disabled]="!zerodhaFormGroup.valid"
        (click)="onAcceptForm.emit(zerodhaFormGroup.getRawValue())"
      >
        Accept
      </button>
    </div>
  </form>
</div>
