/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.auth {
  height: 100%;
  background: #f8f8fb;
  display: flex;

  &__container {
    width: 35%;
    margin: auto;
  }

  &__card {
    mat-card {
      padding: 0;
      overflow: hidden;

      mat-card-content {
        padding: 2rem;
        padding-bottom: 0;
        margin-bottom: 0;

        .form__field {
          margin-bottom: 1rem;
          mat-form-field {
            width: 100%;
          }
        }
      }

      mat-card-actions {
        padding: 0 2rem 0;
        text-align: center;

        button {
          width: 100%;
        }
      }

      .link {
        display: block;
        text-align: center;
        padding-bottom: 1rem;
      }
    }

    &-header {
      padding: 1rem 2rem;
      background-color: #d4dbf9;
      color: #556ee6;
      h2,
      p {
        margin: 0;
      }
    }
  }
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5rem 0;
}

.page {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f6f6fa;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    h1 {
      font-weight: bold;
      margin: 0;
    }
  }

  &__content {
    flex: 1;
    background-color: #fff;
  }

  &__table {
    width: 100%;
    padding: 2rem;
    max-height: 550px;

    td,
    th {
      vertical-align: middle;
      border-bottom: 0.1px solid lightgray;
      padding-right: 2rem;
      text-align: left;
    }

    table {
      width: 100%;
      height: 100%;
      position: relative;

      .chips {
        display: flex;
        // justify-content: center;

        mat-chip {
          font-size: 0.8rem;
          color: white;
          background-color: #ef6969;

          &.active {
            background-color: #58c390;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .auth {
    &__container {
      width: 80%;
    }
  }
}

.mat-sort-header-container {
  justify-content: left;
}

.loader {
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
