/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.auth {
  height: 100%;
  background: #f8f8fb;
  display: flex;

  &__container {
    width: 35%;
    margin: auto;
  }

  &__card {
    mat-card {
      padding: 0;
      overflow: hidden;

      mat-card-content {
        padding: 2rem;
        padding-bottom: 0;
        margin-bottom: 0;

        .form__field {
          margin-bottom: 1rem;
          mat-form-field {
            width: 100%;
          }
        }
      }

      mat-card-actions {
        padding: 0 2rem 0;
        text-align: center;

        button {
          width: 100%;
        }
      }

      .link {
        display: block;
        text-align: center;
        padding-bottom: 1rem;
      }
    }

    &-header {
      padding: 1rem 2rem;
      background-color: #d4dbf9;
      color: #556ee6;
      h2,
      p {
        margin: 0;
      }
    }
  }
}

@media (max-width: 700px) {
  .auth {
    &__container {
      width: 80%;
    }
  }
}
